<div style="font-family:Arial,Helvetica,sans-serif; line-height: 1.5; font-weight: normal; font-size: 15px;
color: #2F3044; background-color:#fff; max-width: 660px; display: block; margin: 30px auto;">

	<a href="https://automatizavarejo.com.br" rel="noopener" target="blank" style="width: 200px; display: block; margin: 0 auto;">
		<img alt="Logo" src="https://app.automatizavarejo.com.br/assets/media/logos/logo.png" style="height: 70px;" />
	</a>

	<div style="text-align:left; margin: 0 20px; padding: 40px; background-color:#ffffff;
	border-color: #F05742; border-radius: 6px">

		<!--begin:Email content-->
		<div style="padding-bottom: 30px; font-size: 17px;">
			<strong>Olá!</strong>
		</div>
		<div style="padding-bottom: 20px">Sua conta foi excluída com <strong>sucesso!</strong></div>
		<div style="padding-bottom: 40px">Lembramos que não guardamos quaisquer dados dos clientes após cancelamento da conta.
			A segurança da sua conta e dos seus dados é muito importante para nós!</div>
		<!--end:Email content-->

		<strong>Equipe <strong>Automatiza Varejo.</strong>

		<p>Copyright © 2023</p>
		<a href="https://automatizavarejo.com.br" rel="noopener" style="color: #F05742;" target="blank">automatizavarejo.com.br</a>
	</div>
</div>