<div style="font-family:Arial,Helvetica,sans-serif; line-height: 1.5; font-weight: normal; font-size: 15px;
color: #2F3044; background-color:#fff; max-width: 660px; display: block; margin: 30px auto;">

	<a href="https://automatizavarejo.com.br" rel="noopener" target="blank" style="width: 200px; display: block; margin: 0 auto;">
		<img alt="Logo" src="https://app.automatizavarejo.com.br/assets/media/logos/logo.png" style="height: 70px;" />
	</a>

	<div style="text-align:left; margin: 0 20px; padding: 40px; background-color:#ffffff; border-color: #F05742; border-radius: 6px">

		<!--begin:Email content-->
		<div style="padding-bottom: 30px; font-size: 17px;">
			<span>Olá {{ first_name }}! Bem-vindo à<strong> Automatiza Varejo!</strong></span>
		</div>
		<div style="padding-bottom: 30px">Para ativar sua conta, por favor, clique no botão abaixo para confirmar seu e-mail. Uma vez ativado, você terá o acesso verificado em nossa plataforma e estará pronto para contratar o serviço desejado.</div>
		<div style="padding-bottom: 40px; text-align:center;">
			<a href="{{ link }}" rel="noopener" style="text-decoration:none;display:inline-block;text-align:center;padding:0.75575rem 1.3rem;font-size:0.925rem;line-height:1.5;border-radius:0.35rem;color:#ffffff;background-color: #F05742;border:0px;margin-right:0.75rem!important;font-weight:600!important;outline:none!important;vertical-align:middle" target="_blank">Ativar Conta</a>
		</div>
		<div style="padding-bottom: 30px">Essa solicitação não foi feita por você? Não se preocupe! Esta solicitação de alteração será invalidada após 60 minutos, que é o tempo de duração do link para 				  confirmação.</div>
		<div style="border-bottom: 1px solid #eeeeee; margin: 15px 0"></div>
		<div style="text-align: center; padding-bottom: 50px; word-wrap: break-all;">
			<p style="margin-bottom: 10px;">Se por acaso o botão não funcionar, copie e cole o link abaixo em seu navegador.</p>
			<a href="{{ link }}" rel="noopener" target="_blank" style="text-decoration:none;color: #F05742">{{ link }}</a>
		</div>
		<!--end:Email content-->

		<div style="padding-bottom: 10px">É muito bom tê-lo por aqui,
		<strong>Equipe <strong>Automatiza Varejo.</strong>

		<p>Copyright © 2023</p>
		<a href="https://automatizavarejo.com.br" rel="noopener" style="color: #F05742;" target="blank">automatizavarejo.com.br</a>
	</div>
</div>
